<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Envie Sua Receita</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Compartilhe suas receitas incríveis com milhares de desenvolvedores web em todo o mundo. Preencha nosso formulário para começar.</p>
    </div>
  </div>
  
  <div class="row justify-content-center">
  
    <% if(infoSubmitObj != '') { %>
      <div class="col-8 alert alert-success" role="alert">
        <%= infoSubmitObj %>
      </div>
    <% } %>
  
    <% if(infoErrorsObj != '') { %>
      <div class="col-8 alert alert-danger" role="alert">
        <%= infoErrorsObj[0].message %>
      </div>
    <% } %>
  
    <div class="col-8">
  
      <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Nome da Receita</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          
          <div class="col-12">
            <label for="description" class="form-label">Modo de Preparo</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Ingredientes</label><br>
            <small>Examplo: Açucar</small>
            <div class="ingredientList">
              <div class="ingredeintDiv mb-1">
                <input type="text" name="ingredients" class="form-control">
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredientes</button>
          </div>
  
          <div class="col-12">
            <label for="category">Selecione a Categoria</label>
            <select class="form-select form-control" name="category" aria-label="Category">
              <option selected>Selecionar Categoria</option>
              <option value="Nordestina">Nordestina</option>
              <option value="Mineira">Mineira</option>
              <option value="Gaucha">Gaucha</option>
              <option value="Baiana">Baiana</option>
              <option value="Capixaba">Capixaba</option>
              <option value="Paulista">Paulista</option>
            </select>
          </div>
  
          <div class="col-12">
            <label for="image">Imagem da Receita</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar Receita</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>